configuration {
    modes: "drun,run";
    show-icons: false;
    terminal: "alacritty";
    drun-display-format: "{name}";
    display-drun: "";
    display-run: "";
    matching: "fuzzy";
    kb-accept-entry: "Return,KP_Enter";
    kb-remove-to-eol: "";
    kb-row-down: "Down,Control+j";
    kb-row-up: "Up,Control+k";
}

* {
    bg: #2f2f2fdd;
    fg: #cccccc;
    selected-bg: #444444;
    selected-fg: #ffffff;

    font: "DejaVuSansM Nerd Font Mono 13";
}

window {
    width: 50%;
    height: 30%;
    location: southwest;
    anchor: southwest;
    background-color: @bg;
    border: 0;
    padding: 0;
}

button selected {
    border-color: @selected-fg;
    text-color: @selected-fg;
}

inputbar {
    background-color: @selected-bg;
    text-color: @selected-fg;
    padding: 0.2em;
    border: 0;
}

prompt {
    background-color: transparent;
    text-color: @selected-fg;
    border: 0;
}

entry {
    background-color: transparent;
    text-color: @selected-fg;
    border: 0;
    enabled: false;
}

mainbox {
    expand: true;
    background-color: @bg;
    spacing: 0;
    border: 0;
}

mode-switcher {
    enable: false;
    border: 0;
    background-color: transparent;
    padding: 0;
}

listview {
    padding: 0.5em;
    dynamic: false;
    lines: 0;
    scrollbar: false;
    border: 0;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}

element selected normal {
    background-color: @selected-bg;
    text-color: @selected-fg;
}

element normal active {
    background-color: transparent;
    text-color: @fg;
}

element normal urgent {
    background-color: transparent;
    text-color: @fg;
}

element alternate normal {
    background-color: transparent;
    text-color: @fg;
}

element alternate active {
    background-color: transparent;
    text-color: @fg;
}

element alternate urgent {
    background-color: transparent;
    text-color: @fg;
}

element normal normal {
    background-color: transparent;
    text-color: @fg;
}

element selected active {
    background-color: @selected-bg;
    text-color: @selected-fg;
}

element selected urgent {
    background-color: @selected-bg;
    text-color: @selected-fg;
}

error-message {
    expand: true;
    background-color: @selected-bg;
    border-color: @selected-bg;
    border: 0.2em;
    padding: 1em;
}
