* {
  border: none;
  border-radius: 0;
  font-family: "DejaVuSansM Nerd Font Mono";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: #2f2f2f;
  color: #cccccc;
}

#workspaces button {
  padding: 0 2px;
  background-color: transparent;
  color: #888888;
}

#workspaces button.active {
  background-color: #444444;
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #ff6c6b;
  color: #ffffff;
}

#workspaces button:hover {
  background-color: #3a3a3a;
}

#window {
  padding: 0 12px;
  color: #aaaaaa;
}

#clock,
#cpu,
#memory,
#temperature,
#battery,
#network,
#pulseaudio,
#backlight,
#custom-cpugovernor,
#custom-vpn,
#custom-fan
{
  padding: 0 12px;
  color: #cccccc;
}

#battery.charging {
  color: #98be65;
}

#battery.warning:not(.charging) {
  color: #ecbe7b;
}

#battery.critical:not(.charging) {
  color: #ff6c6b;
}

#pulseaudio.muted {
  color: #666666;
}
