'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-a': 'vim-mode-plus:move-to-beginning-of-line'
  'ctrl-e': 'vim-mode-plus:move-to-last-character-of-line'
  'ctrl-j': 'vim-mode-plus:scroll-half-screen-down'
  'ctrl-k': 'vim-mode-plus:scroll-half-screen-up'
  'ctrl-l': 'vim-mode-plus:redraw-cursor-line-at-middle'
  'J': 'vim-mode-plus:previous-tab'
  'K': 'vim-mode-plus:next-tab'
  'H': 'editor:outdent-selected-rows'
  'L': 'editor:indent-selected-rows'
  '\\ w': 'core:save'
  '\\ d': 'core:close'
  '\\ D': 'pane:reopen-closed-item'
  '\\ c': 'editor:toggle-line-comments'

  '\\ g g': 'github:toggle-git-tab-focus'
  '\\ G': 'github:toggle-git-tab'
  '\\ g c': 'github:commit'
  '\\ g p': 'github:pull'
  '\\ g f': 'github:fetch'

  '+': 'vim-mode-plus:increase'
  '-': 'vim-mode-plus:decrease'

  'tab': 'pane:show-next-recently-used-item'
  'shift-tab': 'pane:show-previous-recently-used-item'

  # '\\ o': 'custom:insert-line' #TODO

  'enter': 'intentions:confirm'

  '[ h': 'git-diff:move-to-previous-diff'
  '] h': 'git-diff:move-to-next-diff'
  'g h': 'git-diff:toggle-diff-list'
  'g j': 'vim-mode-plus:join'
  'g d': 'git-diff-details:toggle-git-diff-details'
  'g u': 'git-diff-details:undo'

  '\\ j': 'jsdoc:block'
  '\\ t': 'zentabs:cleanup'

'atom-text-editor:not(.insert-mode)':
  '\\ n': 'application:new-file'
  '\\ e': 'fuzzy-finder:toggle-file-finder'

'atom-text-editor[data-grammar~=js]:not(.insert-mode)':
  'g f': 'atom-ternjs:definition'
  'g r': 'atom-ternjs:references'
  'g b': 'atom-ternjs:navigateBack'
  'g n': 'atom-ternjs:navigateForward'

'body':
  'ctrl-n': 'tree-view:toggle'

'.fuzzy-finder atom-text-editor[mini]':
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
